h1 {
    text-align: center;
    margin-bottom: 25px;
}

.panel-title {
    font-weight: bold;
    padding-right: 7px;
}

.panel-body::before {
    display: none;
}

.panel-body {
    padding-right: 30px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}
